/***********************************************************************************************************************************************************************************************************/
/* Import */

/* Import */
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/

/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

/* Light Mode Styles */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

/* Light Mode Styles */

/* Dark Mode Styles */
body.dark-mode {
    background-color: var(--RB-darkmode-background-color);
    color: var(--text-color);
}

#darkModeToggleRB {
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
    position: absolute;
    top: var(--button-position-from-top);
    right: var(--button-position-from-right);
    background-size: contain; /* Ensure the image fits the button */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    width: var(--button-size);
    height: var(--button-size);
    padding: 10px;
    
    background-color: transparent; 
}

#darkModeToggleRB:hover {
    background-color: var(--button-background-color-on); /* White with 50% opacity */
}

body:not(.dark-mode) #darkModeToggleRB:hover {
    background-color: var(--button-background-color-off); /* Light dark shade on hover in light mode */
}

/* Dark Mode Styles */

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){

}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:642px){
    /*Navigation Area*/
    
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
