/***********************************************************************************************************************************************************************************************************/
/*Import*/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --RBTP-tab-container-padding: 10px;
  --RBTP-tab-container-bg: #f9f9f9;
  --RBTP-tab-border-color: #ccc;
  --RBTP-tab-font-size: 16px;
  --RBTP-tab-font-weight: normal;
  --RBTP-tab-font-color: #000;
  --RBTP-tab-active-font-weight: bold;
  --RBTP-tab-active-border-color: #007BFF;
  --RBTP-content-font-size: 16px;
  --RBTP-tab-content-weight: normal; }

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
/* Tab Container */
.RBTP-tab-container {
  display: var(--RBTP-tab-container-diplay);
  border: 2px solid var(--RBTP-tab-border-color);
  border-radius: 8px;
  padding: var(--RBTP-tab-container-padding);
  background: var(--RBTP-tab-container-bg);
  position: var(--RBTP-tab-container-position);
  text-align: center;
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0; }

/* Tab Container */
/* Tabs */
.RBTP-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--RBTP-tab-border-color); }

.RBTP-tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: var(--RBTP-tab-font-size);
  font-weight: var(--RBTP-tab-font-weight);
  color: var(--RBTP-tab-font-color); }

.RBTP-tab.active {
  border-bottom: 2px solid var(--RBTP-tab-active-border-color);
  font-weight: var(--RBTP-tab-active-font-weight);
  font-family: var(--RBTP-tab-active-font-family); }

/* Content */
.RBTP-content {
  display: none;
  padding: 20px;
  font-size: var(--RBTP-content-font-size);
  font-weight: var(--RBTP-tab-content-weight);
  font-family: var(--RBTP-tab-content-family); }

.RBTP-content.active {
  display: block; }

/* Tabs */
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Page_RBTP_TabbedPage.css.map */
