/***********************************************************************************************************************************************************************************************************/
/*Import*/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --rbpt-background-color: #f7f7f7;
  --rbpt-image-size: 50px;
  --rbpt-image-border: 3px solid #ccc;
  --rbpt-image-bg-color: #fff;
  --rbpt-border-active: #28a745;
  --rbpt-background-active: green;
  --rbpt-text-font-size: 16px;
  --rbpt-text-color: #333;
  --rbpt-font-family: 'Arial', sans-serif;
  /* Default font for the steps */
  --rbpt-time-font-size: 14px;
  --rbpt-time-color: #888;
  --rbpt-time-font-family: 'Arial', sans-serif;
  /* line colors */
  --rbpt-line-background: yellowgreen;
  --rbpt-line-last-background: darkgreen;
  --rbpt-line-toArrive-background: #ccc; }

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
.testwrap {
  position: absolute;
  display: flex;
  width: auto; }

.rbpt-container {
  position: relative;
  display: flex;
  width: auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--rbpt-background-color); }

.rbpt-step {
  display: flex;
  position: relative;
  min-height: 100px;
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 1; }

.rbpt-line {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--rbpt-line-background);
  flex-shrink: 0; }

.rbpt-line-last {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  background: var(--rbpt-line-last-background);
  flex-direction: row; }

.rbpt-line-toArrive {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  background: var(--rbpt-line-toArrive-background);
  flex-direction: row; }

.rbpt-line-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%; }

.rbpt-step img {
  width: var(--rbpt-image-size);
  height: var(--rbpt-image-size);
  padding: 5px;
  box-sizing: border-box;
  border: var(--rbpt-image-border);
  background-color: var(--rbpt-image-bg-color);
  position: relative; }

.rbpt-active-logo {
  border-color: var(--rbpt-border-active) !important;
  background-color: var(--rbpt-background-active) !important; }

.rbpt-text {
  position: relative;
  margin-left: 15px;
  font-size: var(--rbpt-text-font-size);
  color: var(--rbpt-text-color);
  font-family: var(--rbpt-font-family);
  box-sizing: border-box;
  text-align: left;
  padding-right: 5px;
  width: 100%;
  flex-shrink: 1; }

.rbpt-time {
  position: relative;
  width: 100%;
  max-width: 190px;
  font-size: var(--rbpt-time-font-size);
  color: var(--rbpt-time-color);
  font-family: var(--rbpt-time-font-family);
  box-sizing: border-box;
  margin-right: 15px;
  margin-left: 5px;
  padding-left: 10px; }

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Page_Vertical%20Progress%20Tracker.css.map */
