/***********************************************************************************************************************************************************************************************************/
/*Import*/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  /* General variables */
  --toggle-width-RB: 80px;
  --toggle-height-RB: 40px;
  --off-color-RB: red;
  --on-color-RB: #28c76f;
  --icon-font-size-RB: calc(var(--toggle-height-RB) * 0.5);
  --icon-color-RB: white; 
}

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
.toggle-switch-RB {
  position: relative;
  width: var(--toggle-width-RB);
  height: var(--toggle-height-RB);
  border-radius: 40px;
  background-color: var(--off-color-RB);
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-items: center;
  align-content: center; 
}

.toggle-input-RB {
  opacity: 0;
  width: 0;
  height: 0; 
}

.slider-RB {
  display: flex;
  justify-content: space-between;
  /* Spread icons between start and end */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  transition: background-color 0.3s ease; 
}

.slider-RB::before {
  content: '';
  position: absolute;
  height: 80%;
  width: 45%;
  left: 2%;
  bottom: 10%;
  background-color: var(--icon-color-RB);
  transition: left 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.icon-RB {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--icon-font-size-RB);
  color: var(--icon-color-RB);
  pointer-events: none; 
}

.check-RB {
  left: 10%;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.cross-RB {
  right: 10%;
  opacity: 1;
  transition: opacity 0.3s ease; 
}

.toggle-input-RB:checked + .slider-RB {
  background-color: var(--on-color-RB); 
}

.toggle-input-RB:checked + .slider-RB::before {
  left: calc(100% - 47%);
}

.toggle-input-RB:checked + .slider-RB .check-RB {
  opacity: 1; 
}

.toggle-input-RB:checked + .slider-RB .cross-RB {
  opacity: 0; 
}

.toggle-input-RB:not(:checked) + .slider-RB .check-RB {
  opacity: 0; 
}

.toggle-input-RB:not(:checked) + .slider-RB .cross-RB {
  opacity: 1; 
}

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Toggle%20Button%20RB.css.map */
