/***********************************************************************************************************************************************************************************************************/
/*Import*/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --rbpt-background-color: #f7f7f7;
  --rbpt-image-size: 50px;
  --rbpt-image-border: 3px solid #ccc;
  --rbpt-image-bg-color: #fff;
  --rbpt-text-font-size: 16px;
  --rbpt-text-color: #333;
  --rbpt-font-family: 'Arial', sans-serif;
  /* Default font for the steps */
  --rbpt-time-font-size: 14px;
  --rbpt-time-color: #888;
  --rbpt-time-font-family: 'Arial', sans-serif; }

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
.rbpt-container {
  position: absolute;
  display: flex;
  width: auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--rbpt-background-color); }

.rbpt-step {
  display: flex;
  position: relative;
  max-height: 100%;
  box-sizing: border-box;
  width: 100%; }

.rbpt-line {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #ccc; }

.rbpt-line-empty {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  background: var(--rbpt-background-color);
  flex-direction: row;
  z-index: 10; }

.rbpt-line-last {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(to bottom, #ccc 50%, green 50%);
  flex-direction: row;
  z-index: 10; }

.rbpt-line-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  border: 2px solid red; }

.rbpt-step img {
  width: var(--rbpt-image-size);
  height: var(--rbpt-image-size);
  padding: 5px;
  box-sizing: border-box;
  border: var(--rbpt-image-border);
  background-color: var(--rbpt-image-bg-color);
  position: relative; }

.rbpt-step:last-child img {
  border-color: #28a745;
  background-color: green; }

.rbpt-initial-h {
  display: flex;
  position: relative;
  height: 80px;
  visibility: none; }

.rbpt-text {
  margin-left: 15px;
  font-size: var(--rbpt-text-font-size);
  color: var(--rbpt-text-color);
  font-family: var(--rbpt-font-family);
  box-sizing: border-box;
  text-align: left;
  position: relative;
  padding-right: 10px;
  width: 100%; }

.rbpt-time {
  position: relative;
  width: 100%;
  max-width: 148px;
  font-size: var(--rbpt-time-font-size);
  color: var(--rbpt-time-color);
  font-family: var(--rbpt-time-font-family);
  box-sizing: border-box;
  margin-right: 15px;
  margin-left: 5px;
  border: 2px solid green;
  padding-left: 10px; }

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Vertical%20Progress%20Tracker.css.map */
