/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --CaptionIMGsize: 100px;
  --CaptionBoxWidth: 120px;
  --CaptionBoxMaxHeight: 100px;
  --CaptionScroll: auto;
  --CaptionBackroundColor: black;
  --CaptionTextColor: white;
  --CaptionBorderRadius: 15px;
  --CaptionPadding: 7px; }

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  border: 2px solid red; }

.Ar_tooltip {
  position: relative;
  border: 2px solid blue;
  box-sizing: border-box; }

.Ar_tooltip img {
  height: var(--CaptionIMGsize);
  width: var(--CaptionIMGsize);
  box-sizing: border-box; }

.Ar_tooltip .Ar_tooltiptext {
  visibility: hidden;
  width: var(--CaptionBoxWidth);
  max-height: var(--CaptionBoxMaxHeight);
  overflow: var(--CaptionScroll);
  background-color: var(--CaptionBackroundColor);
  color: var(--CaptionTextColor);
  text-align: center;
  border-radius: var(--CaptionBorderRadius);
  padding: var(--CaptionPadding);
  position: absolute;
  z-index: 1;
  bottom: 104%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s; }

.Ar_tooltip:hover .Ar_tooltiptext {
  visibility: visible;
  opacity: 1; }

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=index.css.map */
