/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "./Rogrid/Styles/RoStrap_Mixin";
@import "index_Mixin";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	/*Navigation*/
	--generalNavMenuPadding: 12px;

	--mainNavMenuIconSize: 20px;
	--mainNavMenuFSize: 16px;
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #ffffff;
	--hoverMainNavMenuBgColor: red;
	--hoverMainNavMenuFColor: yellow;	

	--subNavMenuIconSize: 20px;
	--subNavMenuWrapBgColor: #C5C7C6;
	--subNavMenuBgColor: transparent;
	--subNavMenuFSize: 16px;
	--subNavMenuFColor: #E9E9E9;
	--hoverSubNavMenuBgColor: blue;
	--hoverSubNavMenuFColor: #247F4F;

	--chevronIconSize: 14px;
	/*Navigation*/


	/*Page title*/
	--projectTitleTextFColor: #ffffff;
	--projectTitleTextFSize: 16px;
	--projectTitleUserIconSize: 35px;
	/*Page title*/

	/*Custom input element*/
	--customInputFSize: 12px;
	--customInputAnimFSize: 9px;
	--customInputColor: #ffffff;
	/*Custom input element*/

	/*Current Date*/
	--currDateFStyle: normal;
	--currDateFWeight: bold;
	--currDateFsize: 12px;
	--currDateFColor: #ffffff;
	/*Current Date*/

	/*Custom checkbox*/
	--cusCheckboxFStyle: normal;
	--cusCheckboxFWeight: normal;
	--custCheckboxFSize: 12px;
	--cusCheckboxColor: #ffffff;
	--cusCheckboxWidthHeight: 12px;	
	--cusCheckboxBorderWidth: 1px;
	--cusCheckboxBorderColor: #ffffff;
	/*Custom checkbox*/

	/*Modal*/
	--modalWidth: 350px;
	--modalHeight: auto;
	--modalBorderColor: blue;
	--modalBodyBgColor: transparent;
	--modalHeaderBgColor: #ffffff;
	--modalHeaderFSize: 12px;
	--modalHeaderFColor: black;
	--modalCloseIconSize: 14px;
	/*Modal*/

	/*Spinner*/
	--spinnerWidthHeight: 64px;
	/*Spinner*/

	/*Calendar Lite*/
	--calendarHeadTxtFSize: 14px;
	--calendarHeadBtnWidthHeight: 16px;
	--calendarDayTxtFSize: 12px;
	/*Calendar Lite*/

	/*Footer*/
	--footerBgColor: #2E88DB;
	--footerFSize: 12px;
	--footerFColor: #ffffff;
	/*Footer*/

	/*search input*/
	--inputWidth: 100%;
	--inputSearchTopPadding: 8px;
	--inputSearchRightPadding: 8px;
	--inputSearchBottomPadding: 8px;
	--inputSearchLeftPadding: 26px;
	--inputSearchBorderColor: #ffffff;
	--inputSearchBorderRadius: 7px;	
	--inputSearchIconHori: 4px;
	--inputSearchIconSize: 22px;
	--inputSearchFSize: 16px;
	--inputSearchFColor: #ffffff;
	/*search input*/

	/*Normal button*/
	--normBtnWidth: auto;	
	--normBtnPadding: 5px;
	--normBtnBorderWidth: 3px;
	--normBtnBorderColor: #ffffff;
	--normBtnRadius: 4px;
	--normBtnFWeight: normal;
	--normBtnFSize: 12px;		
	--normBtnBgColor: blue;
	--normBtnFcolor: #ffffff;
	--normBtnHovActFColor: red;
	--normBtnHovActBgColor: green;
	/*Normal button*/

	/*Icon button*/
	--iconBtnWidth: 50px;
	--iconBtnHeight: 50px;
	--iconBtnBgColor: green;
	--iconBtnBgSize: 40px;
	--iconBtnBorderWidth: 3px;
	--iconBtnBorderColor: blue;
	--iconBtnBorderRadius: 4px;
	/*Icon button*/

	/*Radio button*/
	--cusRadioBorderWidth: 3px;
	--cusRadioBorderColor: blue;
	--cusRadioWidthHeight: 35px;
	--cusRadioBgColor: #ffffff;

	--cusRadioFWeight: normal;
	--cusRadioFsize: 14px;
	--cusRadioFColor: #ffffff;

	--radioIconLabelWidthHeight: 85px;
	/*Radio button*/

	/*Dropdown menu*/
	--cusDropBorderWidth: 1px;
	--cusDropBorderColor: #ffffff;
	--cusDropBgColor: transparent;
	--cusDropSelFColor: #ffffff;
	--cusDropSearchBorderWidth: 1px;
	--cusDropSearchBorderColor: #ffffff;
	--cusDropSearchFColor: black;
	--cusDropSearchBgColor: #ffffff;
	--cusDropOptWrapBorderWidth: 1px;
	--cusDropOptWrapBorderColor: green;
	--cusDropOptWrapBgColor: transparent;
	--cusDropOptWrapHeight: 250px;
	--cusDropOptWrapScrollColor: blue;
	--cusDropOptWrapScrollHovColor: yellow;
	--cusDropOptLabColor: #ffffff;
	--cusDropOptHovLabBgColor: blue;
	--cusDropFsize: 14px;
	--cusDropArrowWidthHeight: 16px;
	--cusDropZIndex: 1;	
	/*Dropdown menu*/

	/*Dropdown button list*/
	--droplistBtnBorderWidth: 1px;
	--droplistBtnBorderColor: #ffffff;
	--droplistBtnBgColor: blue;
	--droplistBtnFColor: #ffffff;
	--droplistBtnWidth: 120px;
	--dropListBtnFSize: 12px;
	--dropListBtnIconSize: 15px;
	--dropListBorderRadius: 5px;
	--droplistBtnPadding: 5.5px;
	--listBtnBorderWidth: 1px;
	--listBtnBorderColor: gray;
	--listBtnBgColorha: yellow;
	--listBtnFColorha: blue; 
	/*Dropdown button list*/

	/*Chart Wrapper*/
	--chartWrapWidth: auto;
	--chartWrapHeight: auto;
	--chartWrapBorderWidth: 1px;
	--chartWrapBorderStyle: solid;
	--chartWrapBorderColor: yellow;
	--chartWrapBorderRadius: 7px;
	/*Chart Wrapper*/

	/*Date Range*/	
	--dateRangeBorderRadius: 5px;
	--dateRangeBorderWidth: 1px;
	--dateRangeBorderColor: #ffffff;
	--dateRangePadding: 3.5px;
	--dateRangeIconSize: 25px;
	--dateRangeFSize: 14px;
	--dateRangeFColor: #ffffff;
	--dateRangeTooltipColor: #ffffff;
	--dateRangeCalLiteWrapWidth: auto;
	--dateRangeCalLiteWrapTop: 45px;	
	--dateRangeCalLiteBorderColor: #8394B7;	
	/*Date Range*/

	/*Select Dropdown*/
	--selectDropdownWidth: auto;
	--selectDropdownBorderWidth: 1px;
	--selectDropdownBorderColor: #ffffff;
	--selectDropdownBorderRadius: 8px;
	--selectDropdownBgColor: transparent;	
	--displayedSelectedIconSize: 30px;
	--displayedSelectedFSize: 14px;
	--displayedSelectedFColor: #ffffff;	
	--selectDropdownChevronSize: 14px;
	/*Select Dropdown*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Section Comment Name*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){

}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Style Here*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Style Here*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Style Here*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Section Comment Name*/
/***********************************************************************************************************************************************************************************************************/