/***********************************************************************************************************************************************************************************************************/
/*Import*/
/*Import*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --iconFontFamily: arian;
  --iconSize: 150px;
  /*To set the width and height of the container of the icons(miniTogglebox_ArIcon)*/
  --iconBorderRadius: 12px;
  --iconImageSize: 110px;
  /*To set the width and height of the image (.pic_ArIcon)*/
  --iconTopTextHeight: 15px;
  /* To set the height of the top text (topLogo_ArIcon)*/
  --iconTopPosition: flex-end;
  /*To position the top text (topLogo_ArIcon)*/
  --iconTopTextColor: blue;
  /*To set the text color (topLogo_ArIcon)*/
  --iconTextSize: 18px;
  /*To set teh size of the Text (miniTogglebox_ArIcon > span)*/
  --iconLowerTextColor: black;
  /*To set teh size of the Text (miniTogglebox_ArIcon > span)*/
  --iconImageSizeHover: 115px;
  /*To modift the Image size when hover*/ }

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
.miniTogglebox_ArIcon {
  font-family: var(--iconFontFamily);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: var(--iconSize);
  width: var(--iconSize);
  box-sizing: border-box;
  border-radius: var(--iconBorderRadius);
  padding: 4px;
  margin: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; }

.topLogo_ArIcon {
  display: flex;
  position: relative;
  flex-flow: row;
  width: 100%;
  font-size: var(--iconTopTextHeight);
  font-weight: bold;
  color: var(--iconTopTextColor);
  box-sizing: border-box;
  justify-content: var(--iconTopPosition); }

.togglebox_ArIcon {
  display: flex;
  position: relative;
  height: var(--iconImageSize);
  width: var(--iconImageSize);
  box-sizing: border-box;
  border-radius: 10px; }

.pic_ArIcon {
  background-position: center;
  background-size: cover;
  background-image: var(--iconBackgroundImage); }

.miniTogglebox_ArIcon span {
  text-align: center;
  color: var(--iconLowerTextColor);
  font-size: var(--iconTextSize);
  box-sizing: border-box; }

.miniTogglebox_ArIcon span:hover {
  font-weight: 600;
  box-sizing: border-box;
  transition: .2s ease-in-out; }

.miniTogglebox_ArIcon:hover {
  transition: .2s ease-in-out;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; }

.togglebox_ArIcon:hover {
  height: var(--iconImageSizeHover);
  width: var(--iconImageSizeHover);
  transition: .2s ease-in-out; }

/*For Icon section*/
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Icon.css.map */
