/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --toolTipFontFamily: 'Poppins', sans-serif;
  --toolTipMainContainerFontSize: 15px;
  --toolTipIMGsize: 40px;
  --toolTipMainContainerPadding: 5px;
  --toolTipMainTextColor: black;
  --toolTipBoxWidth: 200px;
  --toolTipSpace: 105%;
  --toolTipHoverTextFontSize:15px;
  --toolTipBoxMaxHeight: 400px;
  --toolTipBackroundColor: black;
  --toolTipTextColor: white;
  --toolTipPadding: 7px;
  --toolTipWhitespace: normal;
  --toolTipPointerPosition: 96%;
  --toolTipPointerColor: transparent black transparent transparent; }

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
/*Tool Tip*/
#tooltipWrap {
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  top: 100px;
  width: 400px; }

.ar_tooltip {
  font-family: var(--toolTipFontFamily);
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  font-size: var(--toolTipMainContainerFontSize);
  width: auto;
  padding: var(--toolTipMainContainerPadding);
  color: var(--toolTipMainTextColor); }

.ar_tooltip img {
  height: var(--toolTipIMGsize);
  width: var(--toolTipIMGsize);
  box-sizing: border-box; }

.ar_tooltiptext {
  display: none;
  width: var(--toolTipBoxWidth);
  max-height: var(--toolTipBoxMaxHeight);
  background-color: var(--toolTipBackroundColor);
  color: var(--toolTipTextColor);
  text-align: center;
  overflow: auto;
  border-radius: 15px;
  padding: var(--toolTipPadding);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: var(--toolTipSpace);
  transform: translateY(-50%);
  opacity: 0;
  transition: 150ms transform;
  font-size: var(--toolTipHoverTextFontSize);
  white-space: var(--toolTipWhitespace); }

.ar_tooltip::after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: var(--toolTipPointerPosition);
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--toolTipPointerColor); }

.ar_tooltip:hover .ar_tooltiptext {
  display: block;
  cursor: help;
  opacity: 1; }

.ar_tooltip:hover::after {
  display: block; }

/*Tool Tip*/
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Page_Tooltip.css.map */
