/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/

/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
  --profileLoaderContainerBackroungColor: #ffffff;
  --profileLoaderContainerSecondaryBackroungColor: #f2f2f2;
  --profileLoaderLinearGradient: linear-gradient(
  100deg,
  #e6e6e6 30%,
  #d9d9d9 50%,
  #cccccc 70%
  );

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

.ar_ProfileLoader {
  width: 300px;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--profileLoaderContainerBackroungColor);
  display: flex;
  flex-flow: column;
  animation: pulseBg 1.5s infinite ease-in-out;
  border: 2px solid blue;
}
.ar_ProfileTopWraper{
  display: flex;
  position: relative;
  flex-flow: row;
  width: 100%;
}

.ar_Profileavatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin:5px;
  background: var(--profileLoaderLinearGradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;

 
}

.ar_Profileinfo {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 11px;
  padding: 5px;
  margin: 10px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

 
}

.ar_ProfileLoaderLine {
  display: flex;
  position: relative;
  height: 20px;
  width: 80%;
  border-radius: 4px;
  background: var(--profileLoaderLinearGradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;

 
}

.ar_ProfileLoaderLine.short {
  width:90%;
  }

.ar_ProfileLoaderLine.long {
  width: 100%;
}
.ar_ProfileBottomWraper{
  display: flex;
  flex-flow: column;
 
}

  @keyframes shimmer {
    0% {
      background-position: 150% 0;
  }
    100% {
      background-position: -150% 0;
    }
  }

  @keyframes pulseBg {
    0%, 100% {
      background-color: var(--profileLoaderContainerBackroungColor);
    }
    50% {
      background-color: var(--profileLoaderContainerSecondaryBackroungColor);
    }
  }

  .sample{
    display: flex;
    position: relative;
    height: 100px;
    width: 800px;

    border: 2px solid green;
  }

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

