/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
  --DropDownTextFont: arian;
  --DropDownWidth: 450px;
  --DropDownRadius: 15px;
  --DropDownBorderWidth: 3px;
  --DropDownBorderStyle: solid;
  --DropDownBorderPadding: 4px;
  --DropDownHeight: 45px;
  --DropDownPositionText: none; }

/*Root*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
.Aea_details-example {
  font-family: var(--DropDownTextFont);
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  width: var(--DropDownWidth);
  border-radius: var(--DropDownRadius);
  border-width: var(--DropDownBorderWidth);
  border-style: var(--DropDownBorderStyle); }

.Aea_details-example summary {
  align-content: center;
  padding: var(--DropDownBorderPadding);
  height: var(--DropDownHeight);
  box-sizing: border-box; }

.Aea_details-example li {
  align-content: center;
  text-align: var(--DropDownPositionText);
  padding: var(--DropDownBorderPadding);
  height: var(--DropDownHeight);
  margin-right: 0;
  list-style-type: none;
  border-top-width: var(--DropDownBorderWidth);
  border-top-style: var(--DropDownBorderStyle);
  box-sizing: border-box; }

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Page_DropDown.css.map */
