/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/

/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

.ar_PrescriptionMain{
	display: flex;
	position: relative;
	flex-flow: column;
	box-sizing: border-box;
	border: 2px solid black;
}

.ar_prescriptContainer{
	display: flex;
	position: relative;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 5px;
	border: 2px solid red;
}

.ar_PrescriptHead{
	display: flex;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;

	border: 2px solid blue;
}

.ar_prescriptSort{
	display: flex;
	width: 20px;
	height: 20px;
	box-sizing: border-box;

}

.ar-PrescriptFilter{
	display: none;
    position: absolute;
    flex-flow: column;
    border-radius: 7px;
    z-index: 5;
    align-content: center;
    background-color: white;
    vertical-align: baseline;
    box-sizing: border-box;
    padding: 5px;
    margin-left: -105px;
    background-color: transparent;
    border: 2px solid green;
}

.ar-PrescriptFilter button{
	border: none;
	background-color: transparent;
}

.pic_Filter{
    background-position: center;
    background-size: cover;
    background-image: var(--profileDropDownArrowDownImg);
}
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

