/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/

/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
  
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
.ar_ASetter{
  display: flex;
  position: relative;
  flex-flow: column;
  box-sizing: border-box;


  border: 2px solid red;
}

.ar_ASetterDate{
  display: flex;
  position: relative;
  box-sizing: border-box;
  font-size: 25px;
  padding: 5px;


  border: 2px solid blue;
}

.ar_Date{
  margin-left: 7px;
  border: 2px solid black;
  padding: 3px;
  border-radius: 25px;
  box-sizing: border-box;
}

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

