/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/

/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{    
  
  --profileDropDownFontFamily: Arial, Helvetica, sans-serif;
  --profileDropDownMainContainerSize: auto;
  --profileDropDownMainContainerPadding: 5px;
  --profileDropDownMainContainerFontSize: 20px;
  --profileDropDownMainContainerImgSize: 55px;
  --profileDropDownImgMarginRight: 5px;

  --profileDropDownArrowDownMarginLeft: 3px;
  --profileDropDownArrowDownSize: 22px;
  --profileDropDownCursor: pointer;
  --profileDropDownBoxSize: 220px;

  --profileDropDownBoxDistance: 200%;
  --profileDropDownBoxPadding: 7px;
  --profileDropDownBoxTextSize: 12px;
  --profileDropDownBoxTextPadding: 8px;
  --profileDropDownUnderline: double;
  --profileDropDownBoxImgSize: 25px;
  --profileDropDownBoxImgMargin: 3px;

  --profileDropDownMainContainerImgSizeHover: 60px;
  --profileDropDownBoxFontSizeHover: 14px;
  --profileDropDownBoxTextColorHover: blue;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

.ar_ProfileMaincontainer{
    display: flex;
    position: relative;
    font-family: var(--profileDropDownFontFamily);
    height: var(--profileDropDownMainContainer);
    width: var(--profileDropDownMainContainer);
    border: 2px solid green;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: var(--profileDropDownMainContainerPadding);
}
.ar_ProfileRightside{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: var(--profileDropDownMainContainerFontSize);
    padding: var(--profileDropDownMainContainerPadding);
}

.ar_ProfileRightside img{
    width: var(--profileDropDownMainContainerImgSize);
    height: var(--profileDropDownMainContainerImgSize);
    border-radius: 50%;
    margin-right: var(--profileDropDownImgMarginRight);
    border: 1px solid black;
    box-sizing: border-box;
}
.dropdown_ArFilter {
    display: flex;
    position: relative;
    margin-left: var(--profileDropDownArrowDownMarginLeft);
    width: var(--profileDropDownArrowDownSize);
    height: var(--profileDropDownArrowDownSize);
    flex-flow: column;
    border-radius: 2px;
    z-index: 5;
    box-sizing: border-box;
    flex-shrink: 0;
}
.dropdown-button_ArFilter {
    display: flex;
    position: relative;
    flex-flow: column;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    cursor: var(--profileDropDownCursor);
    background-color: transparent;
}
.pic_ArFilter{
    background-position: center;
    background-size: cover;
    background-image: var(--profileDropDownArrowDownImg);
}

.menu_ArFilter {
    display: none;
    position: absolute;
    width: var(--profileDropDownBoxSize);
    height: auto;
    margin-top: var(--profileDropDownBoxDistance);
    right: 0%;
    flex-flow: column;
    border-radius: 12px;
    z-index: 5;
    align-content: center;
    background-color: white;
    vertical-align: baseline;
    box-sizing: border-box;
    padding: var(--profileDropDownBoxPadding);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu_ArFilter a{
    display: flex;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: var(--profileDropDownBoxTextSize);
    padding: var(--profileDropDownBoxTextPadding);
    align-items: center;
    box-sizing: border-box;
    
}
.dottedUnderline{
    border-bottom-style: var(--profileDropDownUnderline);
    box-sizing: border-box;
}
.ar_SubPic{
    height: var(--profileDropDownBoxImgSize);
    width: var(--profileDropDownBoxImgSize);
    padding: 2px;
    margin-left: var(--profileDropDownBoxImgMargin);
    margin-right: var(--profileDropDownBoxImgMargin);
    box-sizing: border-box;
}

/*Hover*/
.ar_ProfileRightside img:hover{
    width: var(--profileDropDownMainContainerImgSizeHover);
    height: var(--profileDropDownMainContainerImgSizeHover);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

.menu_ArFilter::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  
}
.menu_ArFilter a:hover{
    font-size: var(--profileDropDownBoxFontSizeHover);
    color: var(--profileDropDownBoxTextColorHover);
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/


