/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/

/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{    
  
  --profileDropDownFontFamily: Arial, Helvetica, sans-serif;
  --profileDropDownPadding: 3px;
  --profileDropDownFontSize: 18px;
  --profileDropDownImgSize: 53px;

  --profileDropDownSpaceBetween: 5px;
  --profileDropDownArrowSize: 17px;
  --profileDropDownDistanceBox: 0%;
  --profileDropDownBoxMarginLeft: 10px;
  --profileDropDownBoxTextSize: 15px;
  --profileDropDownIconSize: 18px;
  --profileDropDownPointerPositionLeft: 65%;
/*Hover*/
  --profileDropDownImgSizeHover: 60px;
  --profileDropDownBoxTextSizeHover: 18px;
}

/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

.ar_ProfileDropdownContainer {
    display: inline-block;
    box-sizing: border-box;
}

.ar_ProfileDropdown{
    display: flex;
    font-family: var(--profileDropDownFontFamily);
    position: relative;
    align-items: center;
    padding: var(--profileDropDownPadding);
    font-size: var(--profileDropDownFontSize);
    box-sizing: border-box;
}


.ar_ProfileDropdown img{
    display: flex;
    position: relative;
    flex-flow: row;
    height: var(--profileDropDownImgSize);
    width: var(--profileDropDownImgSize);
    margin-right: var(--profileDropDownSpaceBetween);
    border-radius: 50px;
    box-sizing: border-box;
}
 
.dropdown-button_ArFilter {
    display: flex;
    position: relative;
    flex-flow: column;
    border-radius: 12px;
    height: var(--profileDropDownArrowSize);
    width: var(--profileDropDownArrowSize);
    box-sizing: border-box;
    background-color: transparent;
    margin-left: var(--profileDropDownSpaceBetween);
    box-sizing: border-box;
}

.pic_ArFilter{
    background-position: center;
    background-size: cover;
    background-image: var(--profileDropDownArrowDownImg);
}

.ar-ProfiledDropdownContent {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    margin-top: var(--profileDropDownDistanceBox);
    margin-left: var(--profileDropDownBoxMarginLeft);
    flex-flow: column;
    border-radius: 12px;
    z-index: 5;
    align-content: center;
    background-color: white;
    vertical-align: baseline;
    box-sizing: border-box;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ar-ProfiledDropdownContent a{
    display: flex;
    position: relative;
    flex-flow: row;
    text-decoration: none;
    color: black;
    font-size: var(--profileDropDownBoxTextSize);
    padding: 5px;
    align-items: center;
    box-sizing: border-box
}

.ar_SubPic{
    height: var(--profileDropDownIconSize);
    width: var(--profileDropDownIconSize);
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}

.ar-ProfiledDropdownContent::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: var(--profileDropDownPointerPositionLeft);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/*Hover*/
.ar_ProfileDropdown img:hover{
    width: var(--profileDropDownImgSizeHover);
    height: var(--profileDropDownImgSizeHover);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

.ar-ProfiledDropdownContent a:hover{
    font-size: var(--profileDropDownBoxTextSizeHover);
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/


