/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/

/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
    --toolTipPositionTop: 50px;
    --toolTipPositionLeft:50px;

    --toolTipFontFamily: 'Poppins', sans-serif;
    --toolTipMainContainerFontSize: 15px;
    --toolTipIMGsize: 20px; 
    --toolTipMainContainerPadding: 5px;
    --toolTipMainTextColor: black;
    --toolTipBoxWidth: auto;
    --toolTipSpace: 103%;
    --toolTipHoverTextFontSize:15px;
    --toolTipBoxMaxHeight: auto;
    --toolTipBackroundColor: black;
    --toolTipTextColor: white;
    --toolTipPadding: 7px;
    --toolTipWhitespace: nowrap;


  
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General Styles*/
body {
 
}
/*Tool Tip*/



.ar_tooltip {
    font-family:var(--toolTipFontFamily);
    display: flex;
    top: var(--toolTipPositionTop);
    left:var(--toolTipPositionLeft);
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    font-size: var(--toolTipMainContainerFontSize);
    width: auto;
    padding: var(--toolTipMainContainerPadding);
    color: var(--toolTipMainTextColor);
}

.ar_tooltip img{
    height: var(--toolTipIMGsize);
    width: var(--toolTipIMGsize);
    box-sizing: border-box;
}

.ar_tooltiptext{
    display: none;
    width: var(--toolTipBoxWidth);
    max-height: var(--toolTipBoxMaxHeight);
    overflow: auto;
    background-color: var(--toolTipBackroundColor);
    color: var(--toolTipTextColor);
    text-align: center;
    border-radius: 15px;
    padding: var(--toolTipPadding);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: var(--toolTipSpace);
    transform: translateY(-50%);
    opacity: 0;
    transition: 150ms transform;
    font-size: var(--toolTipHoverTextFontSize);
    white-space: var(--toolTipWhitespace);
}


.ar_tooltip:hover .ar_tooltiptext {
    display: block;
    cursor: help;
    opacity: 1;
}

/*Tool Tip*/



/*General Styles*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/


