/***********************************************************************************************************************************************************************************************************/
/*Basic Button*/
@mixin btn_rg_active{
	color: var(--btn_rg_active_color);
	background-color: var(--btn_rg_active_bgcolor);
}
/*Basic Button*/


/*Inputs*/
@mixin input_rg_placeholder{
	position: absolute;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	z-index: -1;
	transition: top 0.1s linear 0s, font-size 0.1s linear 0s;
	text-overflow: ellipsis;
}
/*Inputs*/


/*Layout (First Model)*/
@mixin mone_burger_rg_smart{
	display: inline-block;
}

@mixin mone_title_rg_pc{
	flex-flow: row wrap;
	align-items: center;
	align-content: flex-start;
}
/*Layout (First Model)*/
/***********************************************************************************************************************************************************************************************************/