/***********************************************************************************************************************************************************************************************************/
/*Basic Button*/
@mixin btn_rg_active_general{
	color: var(--btn_rg_active_color);
	background-color: var(--btn_rg_active_bgcolor);
}
/*Basic Button*/


/*Inputs*/
@mixin input_placeholder_rg_general{
	position: absolute;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	z-index: -1;
	transition: top 0.1s linear 0s, font-size 0.1s linear 0s;
	text-overflow: ellipsis;
}
/*Inputs*/


/*Page Layout (First Model)*/
@mixin mone_burger_rg_smart{
	display: inline-block;
}

@mixin mone_title_rg_smart{
	flex-flow: column nowrap;
	align-items: center;
}
/*Page Layout (First Model)*/


/*Side Navigation Menu*/
@mixin nav_rg_general{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: auto;
	width: auto;
	cursor: pointer;
	flex-flow: row nowrap;
	align-items: center;
	text-decoration: none;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
}

@mixin nav_icon_rg_general{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	flex-shrink: 0;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: var(--nav_icon_rg_size);
	height: var(--nav_icon_rg_size);
}

@mixin nav_active_rg_general{
	background-color: var(--nav_active_rg_bgcolor);
	color: var(--nav_active_rg_color);
}

@mixin nav_active_icon_rg_general{
	background-image: var(--nav_active_icon_rg_img);
}

/**Collapsable*/
@mixin nav_arrow_rg_general{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	width: var(--nav_arrow_rg_size);
	height: var(--nav_arrow_rg_size);
	flex-shrink: 0;
	transition: transform 0.1s;
	-webkit-transition: transform 0.1s;
}

@mixin nav_arrow_img_rg_general{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
/**Collapsable*/
/*Side Navigation Menu*/


/*Date Range*/
@mixin range_cmo_rg_smart{
	flex-flow: column nowrap; 
}
/*Date Range*/


/*Button List*/
@mixin blist_btn_rg_general{
	position: relative;
	display: block;
	box-sizing: border-box;	
	border: none;
	outline: none;
	width: 100%;
	cursor: pointer;
	color: var(--blist_rg_color);
	background-color: var(--blist_rg_bgcolor);
}
/*Button List*/
/***********************************************************************************************************************************************************************************************************/