/***********************************************************************************************************************************************************************************************************/
/*Imports*/
@import "Mixin Rogrid Styles";
/*Imports*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General*/

/*Basic Button*/
.btn_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	white-space: normal;
	word-break: keep-all;	
	border-style: solid;
	color: var(--btn_rg_color);
	border-width: var(--btn_rg_borderwidth);
	border-color: var(--btn_rg_bordercolor);	
	outline: none;		
	background-color: var(--btn_rg_bgcolor);
	cursor: pointer;
}

.btn_rg:hover{
	@include btn_rg_active;
}

.btn_rg:active{
	@include btn_rg_active;
}
/*Basic Button*/


/*Modal First Model*/
.modal_con_rg{
	position: fixed;
	display: none;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid grey;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0px;
	height: 0px;
	background-color: rgba(237, 231, 225 ,0.5);		
	flex-flow: column nowrap;
	align-items: center;
	transition: width 0.5s ease-out 0s, height 0.5s ease-out 1s;
}

.modal_rg{
	position: absolute;
	display: none;
	box-sizing: border-box;
	overflow: hidden;
	width: var(--modal_rg_width);
	height: var(--modal_rg_height);
	top: var(--modal_rg_top);
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--modal_rg_bordercolor);
	background-color: var(--modal_rg_bgcolor);
	transition: top 0.5s ease-out 0s;
	flex-shrink: 0;
	transform: scale(0);
	transition: transform 0.3s ease-out 1.5s;
}

.modal_head_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	width: auto;
	top: 0px;		
	flex-wrap: nowrap;
	flex-direction: row;
	background-color: var(--modal_head_rg_bgcolor);
}
/*Modal First Model*/

/*General*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){		
	
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:1081px){
	
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/