/***********************************************************************************************************************************************************************************************************/
/*Imports*/
@import "Mixin Rogrid Styles";
/*Imports*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General*/

/*Basic Button*/
.btn_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	white-space: normal;
	word-break: keep-all;	
	border-style: solid;
	color: var(--btn_rg_color);
	border-width: var(--btn_rg_borderwidth);
	border-color: var(--btn_rg_bordercolor);	
	outline: none;		
	background-color: var(--btn_rg_bgcolor);
	cursor: pointer;
}

.btn_rg:hover{
	@include btn_rg_active_general;
}

.btn_rg:active{
	@include btn_rg_active_general;
}
/*Basic Button*/


/*Modal (First Model)*/
.modal_con_rg{
	position: fixed;
	display: none;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid grey;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0px;
	height: 0px;
	background-color: rgba(237, 231, 225 ,0.5);		
	flex-flow: column nowrap;
	align-items: center;
	transition: width 0.5s ease-out 0s, height 0.5s ease-out 1s;
}

.modal_rg{
	position: absolute;
	display: none;
	box-sizing: border-box;
	overflow: hidden;
	width: var(--modal_rg_width);
	height: var(--modal_rg_height);
	top: var(--modal_rg_top);
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--modal_rg_bordercolor);
	background-color: var(--modal_rg_bgcolor);
	transition: top 0.5s ease-out 0s;
	flex-shrink: 0;
	transform: scale(0);
	transition: transform 0.3s ease-out 1.5s;
}

.modal_head_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	width: auto;
	top: 0px;		
	flex-wrap: nowrap;
	flex-direction: row;
	background-color: var(--modal_head_rg_bgcolor);
}

.modal_headtext_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	width: 100%;
	flex-shrink: 1;
	flex-grow: 0;
	font-style: normal;
	font-weight: bold;			
	text-align: center;	
	align-self: center;
}

.modal_headx_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: nowrap;
	width: var(--modal_headx_rg_size);
	height: var(--modal_headx_rg_size);
	align-self: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	cursor: pointer;
}

.modal_headx_rg img{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.modal_body_rg{
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	width: auto;	
}

/* width */
.modal_body_rg::-webkit-scrollbar {
	width: clamp(3px, 1vw, 6px);
}

/* Track */
.modal_body_rg::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
}

/* Handle */
.modal_body_rg::-webkit-scrollbar-thumb {
	background: var(--modal_body_rg_scrollcolor);
	border-radius: 10px;
}

/* Handle on hover */
.modal_body_rg::-webkit-scrollbar-thumb:hover {
	background: var(--modal_body_rg_active_scrollcolor);
}
/*Modal (First Model)*/


/*Inputs*/
.input_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	width: auto;
	padding: 15px 5px 5px 5px;
	border-radius: 7px;	
	border-color: var(--input_rg_color); /*var(--customInputColor); To be changed animation*/
	border-width: 1px;
	border-style: solid;
	z-index: 0;
}

.input_rg input{
	position: relative;
	display: block;
	box-sizing:border-box;
	width: 100%;
	border: none;
	outline: none;	
	font-size: var(--input_rg_fsize);	
	color: var(--input_rg_color);
}

.input_placeholder_rg{
	@include input_placeholder_rg_general;	
	width: 95%;
	top:50%; 
	transform: translateY(-50%); 	
	font-size: var(--input_rg_fsize); 
	color: var(--input_rg_color);	
}

.input_upplaceholder_rg{
	@include input_placeholder_rg_general;
	width: 95%;
	top:33%; 
	transform: translateY(-50%);	
	font-size: var(--input_rg_fsize); 
	color: var(--input_rg_color); 	
}

.input_rg input:focus + .input_placeholder_rg,
.input_rg input:not(:focus):valid + .input_placeholder_rg,
.input_rg input:focus + .input_upplaceholder_rg,
.input_rg input:not(:focus):valid + .input_upplaceholder_rg{
	top: 0px;
	transform: none;
	font-size: var(--input_rg_active_fsize);
}
/*Inputs*/


/*Radio Button*/
.radio_rg{
	position: relative;
	display: flex;
	overflow: visible;
	box-sizing: border-box;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: auto;
}

.radio_input_rg{
	position: absolute;
	visibility: hidden;
	top: 0px;
}

.radio_label_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	width: 100%;		
}

.radio_icon_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	width: var(--radio_icon_rg_size); 
	height: var(--radio_icon_rg_size);
}

.radio_iconimg_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

/**Circle Type*/
.radio_tc_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
	border-style: solid;		
	border-width: var(--radio_rg_borderwidth);
	border-color: var(--radio_rg_bordercolor);
	width: var(--radio_rg_size); 
	height: var(--radio_rg_size);
	padding: 3px;
	border-radius: 50%;
	box-shadow: none; /*box-shadow: 0px 0px 15px #00fafa; in JS*/
	background-color: var(--radio_rg_bgcolor);
	cursor: pointer;
}

.radio_tci_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-radius: 50%;
}
/**Circle Type*/


/**Box Type*/
.radio_tb_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
	border-style: solid;		
	border-width: var(--radio_rg_borderwidth);
	border-color: var(--radio_rg_bordercolor);
	width: var(--radio_rg_size); 
	height: var(--radio_rg_size);	
	background-color: var(--radio_rg_bgcolor);
	cursor: pointer;
}

.radio_tbi_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
/**Box Type*/
/*Radio Button*/


/*Page Layout (First Model)*/
*{
	box-sizing: border-box;	
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

.mone_rg{
	position: fixed;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	flex-flow: row nowrap;
	width: 100%;
	height: 100%;
}

.mone_side_rg{
	position: relative;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	direction: rtl;
	width: 0px;
	height: 100%;	
	flex-shrink: 0;
	background: var(--mone_side_rg_bgcolor);
}

/* width */
.mone_side_rg::-webkit-scrollbar, .mone_body_rg::-webkit-scrollbar, body::-webkit-scrollbar{
	width: var(--mone_rg_scrollwidth);
}

/* Track */
.mone_side_rg::-webkit-scrollbar-track, .mone_body_rg::-webkit-scrollbar-track, body::-webkit-scrollbar-track{
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
}

/* Handle */
.mone_side_rg::-webkit-scrollbar-thumb, .mone_body_rg::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	background: var(--mone_rg_scrollcolor);
	border-radius: 10px;
}

/* Handle on hover */
.mone_side_rg::-webkit-scrollbar-thumb:hover, .mone_body_rg::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
	background: var(--mone_rg_active_scrollcolor); 
}

.mone_sidecon_rg{
	position: relative;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;
	width: auto;
	height: auto;
	background: none;
}

.mone_body_rg{
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	width: 100%;
	height: auto;	
	background-color: var(--mone_body_rg_bgcolor);
}

.mone_head_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: var(--mone_head_rg_bgcolor);	
}

.mone_burger_rg{
	position: relative;	
	box-sizing: border-box;
	overflow: visible;	
	width: var(--mone_burger_rg_size);
	height: var(--mone_burger_rg_size);
	cursor: pointer;
}

.mone_burger_image_rg{
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
}

.mone_title_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	display: flex;	
	justify-content: space-between;		
}

.mone_titletxt_rg{
	position: relative;
	display: block;
	overflow: visible;
	box-sizing: border-box;	
	white-space: normal;	
}

.mone_user_rg{
	position: relative;
	display: flex;
	overflow: visible;
	box-sizing: border-box;	
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.mone_profile_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	width: var(--mone_profile_rg_size);
	height: var(--mone_profile_rg_size);
	flex-shrink: 0;
}

.mone_profile_img_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.mone_name_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	white-space: normal;
	width: auto;				
}
/*Page Layout (First Model)*/


/*Side Navigation Menu*/
.nav_rg{
	@include nav_rg_general;	
	color: var(--nav_rg_color);	
}

.nav_active_rg{
	@include nav_rg_general;
	@include nav_active_rg_general;
}

.nav_icon_rg{
	@include nav_icon_rg_general;		
	background-image: var(--nav_icon_rg_img);	
}

.nav_active_icon_rg{
	@include nav_icon_rg_general;		
	@include nav_active_icon_rg_general;
}

.nav_rg:hover{	
	@include nav_active_rg_general;
}

.nav_rg:hover .nav_icon_rg{
	@include nav_active_icon_rg_general;
}

.nav_label_rg{
	position: relative;
	display: block;
	overflow: visible;
	box-sizing: border-box;
	white-space: normal;	
	width: 100%;
}

/**Collapsable*/
.nav_arrow_rg{
	@include nav_arrow_rg_general;
	transform: rotate(0deg);
}

.nav_active_arrow_rg{
	@include nav_arrow_rg_general;
	transform: rotate(90deg);
}

.nav_arrow_img_rg{
	@include nav_arrow_img_rg_general;
}

.nav_sub_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	background-color: var(--nav_sub_rg_bgcolor);
	transition: max-height 0.5s;		
	-webkit-transition: max-height 0.5s;
}
/*Side Navigation Menu*/

/*Select Dropdown*/
/**Selected Area*/
.select_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;		
	cursor: pointer;
}

.select_crval_rg{
	/*This is just the input hidden*/
}

.select_cr_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	align-items: center;	
	background-color: var(--select_cr_rg_bgcolor);
}

.select_icon_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_icon_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
}

.select_text_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	color: var(--select_text_rg_color);
}

.select_reset_rg{
	position: relative;
	display: none;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_reset_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
}

.select_arrow_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_arrow_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
	transform: rotateX(0deg);
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
/**Selected Area*/


/**Options Area*/
.select_area_rg{
	position: absolute;
	display: none;
	box-sizing: border-box;
	overflow: auto;
	max-height: 0;
	width: 100%;
	background-color: var(--select_area_rg_bgcolor);
	-webkit-transition: max-height 1s;
	transition: max-height 1s;
}

/* width */
.select_area_rg::-webkit-scrollbar {
	width: clamp(3px, 1vw, 6px);
}

/* Track */
.select_area_rg::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
}

/* Handle */
.select_area_rg::-webkit-scrollbar-thumb {
	background: var(--select_area_rg_scrollcolor);
	border-radius: 10px;
}

/* Handle on hover */
.select_area_rg::-webkit-scrollbar-thumb:hover {
	background: var(--select_area_rg_active_scrollcolor);
}

.select_find_rg{
	position: sticky;
	display: block;
	box-sizing: border-box;
	width: 100%;	
	top: 0;
	z-index: 1;	
	color: var(--select_find_rg_color);	
}

.select_opts_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
}

.select_opt_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.select_dopt_rg{
	display: none;	
}

.select_optval_rg{
	/*This is just the input hidden*/
}

.select_opticon_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_opticon_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
}

.select_opttxt_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;	
}

.select_opt_rg:hover, .select_opt_rg:hover .select_opttxt_rg{
	background-color: var(--select_active_opt_rg_bgcolor);
	color: var(--select_active_opt_rg_color);
}
/**Options Area*/
/*Select Dropdown*/


/*Calendar Model One*/
.cmo_rg{
	position: relative;		
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;	
	background-color: var(--cmo_rg_bgcolor);
}

.cmo_head_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;	
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px var(--cmo_head_rg_sdcolor);
}

.cmo_ym_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;	
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.cmo_monthtxt_rg, .cmo_yeartxt_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	white-space: nowrap;	
}

.cmo_btn_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	width: var(--cmo_btn_rg_size);
	height: var(--cmo_btn_rg_size);
	cursor: pointer;
	flex-shrink: 0;
}

.cmo_btnimg_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.cmo_columns_rg, .cmo_days_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.cmo_daytxt_rg, .cmo_daywrap_rg{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	width: var(--cmo_day_rg_width);
}

.cmo_daytxt_rg{
	text-align: center;
}

.cmo_day_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	text-align: center;	
	width: auto;
}


/**Highlights, Clicked*/
.cmo_day_rg_click{
	background-color: var(--cmo_day_rg_click_bgcolor);
	color: var(--cmo_day_rg_click_color);
}

.cmo_day_rg_high{
	background-color: var(--cmo_day_rg_high_bgcolor);
	color: var(--cmo_day_rg_high_color);
}
/**Highlights, Active, Clicked*/
/*Calendar Model One*/


/*Date Range*/
.range_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;	
	width: auto;
}

.range_head_rg{
	position: relative;	
	overflow: visible;
	box-sizing: border-box;	
	width: auto;
	cursor: pointer;
}

.range_details_rg{
	position: relative;
	overflow: visible;
	display: flex;
	box-sizing: border-box;	
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.range_icon_rg{
	position: relative;
	overflow: visible;	
	box-sizing: border-box;
	width: var(--range_icon_rg_size);
	height: var(--range_icon_rg_size);	
	background-color: transparent;
	background-image: var(--range_icon_rg_img);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	flex-shrink: 0;
}

.range_texts_rg{
	position: relative;
	overflow: visible;
	box-sizing: border-box;	
	white-space: nowrap;	
	color: var(--range_texts_rg_color);
}

.range_arrowpad_rg{
	position: relative;
	box-sizing: border-box;
	display: none;
	overflow: visible;
	justify-content: var(--range_arrow_rg_justify);
	z-index: 1;
}

.range_arrow_rg{
	position: relative;
	box-sizing: border-box;
	display: none;
	border-width: 7px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: var(--range_arrow_rg_color);
	border-left-color: transparent;
	width: 10px;
}

.range_cmo_rg{
	position: absolute;
	display: flex;
	overflow: hidden;
	max-height: 0px;	
	box-sizing: border-box;
	width: 100%;
	justify-content: space-between;
	transition: max-height 0.5s;
	-webkit-transition: max-height 0.5s;
}

.cmo_range_rg{
	width: 100%;
}
/*Date Range*/

/*General*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Page Layout (First Model)*/
	.mone_burger_rg{		
		@include mone_burger_rg_smart;
	}

	.mone_title_rg{
		@include mone_title_rg_smart;
	}
	/*Page Layout (First Model)*/


	/*Date Range*/
	.range_cmo_rg{
		@include range_cmo_rg_smart;
	}
	/*Date Range*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){		
	/*Page Layout (First Model)*/
	.mone_burger_rg{
		@include mone_burger_rg_smart;
	}

	.mone_title_rg{
		@include mone_title_rg_smart;
	}
	/*Page Layout (First Model)*/


	/*Date Range*/
	.range_cmo_rg{
		@include range_cmo_rg_smart;
	}
	/*Date Range*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:1081px){
	/*Page Layout (First Model)*/
	.mone_burger_rg{
		display: none;
	}

	.mone_title_rg{
		flex-flow: row wrap;
		align-items: center;
		align-content: flex-start;
	}	
	/*Page Layout (First Model)*/


	/*Date Range*/
	.range_cmo_rg{
		flex-flow: row nowrap;
	}
	/*Date Range*/
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/