/***********************************************************************************************************************************************************************************************************/
/*Imports*/
/***********************************************************************************************************************************************************************************************************/
/*Basic Button*/
/*Basic Button*/
/***********************************************************************************************************************************************************************************************************/
/*Imports*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*General*/
/*Basic Button*/
.btn_rg {
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  white-space: normal;
  word-break: keep-all;
  border-style: solid;
  color: var(--btn_rg_color);
  border-width: var(--btn_rg_borderwidth);
  border-color: var(--btn_rg_bordercolor);
  outline: none;
  background-color: var(--btn_rg_bgcolor);
  cursor: pointer; }

.btn_rg:hover {
  color: var(--btn_rg_active_color);
  background-color: var(--btn_rg_active_bgcolor); }

.btn_rg:active {
  color: var(--btn_rg_active_color);
  background-color: var(--btn_rg_active_bgcolor); }

/*Basic Button*/
/*General*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*PC*/
/*PC*/
/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/

/*# sourceMappingURL=Rogrid%20Styles.css.map */
