/***********************************************************************************************************************************************************************************************************/
/*Imports*/
@import "Mixin Rogrid Styles";
/*Imports*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General*/

/*Dot Settings Menu*/
.dotset_rg{
	position: relative;	
	box-sizing: border-box;
	width: var(--dotset_width);
	overflow: visible;

	border: 1px solid yellow;
}

.dotset_btn_rg {	
	position: relative;
	display: block;
	box-sizing: border-box;
	background: none;
	border: none;
	cursor: pointer;
	width: 100%;
}

.dotset_menus_rg {
	display: none;
	position: absolute;
	background-color: var(--dotset_menus_bgcolor);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.dotset_menus_rg ul {
	position: relative;
	display: block;
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding-left: 0;
	width: auto;
}

.dotset_menus_rg ul li {
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
}

.dotset_menus_rg ul li:hover {
	background-color: var(--dotset_menus_active_bgcolor);
}

.dotset_menus_rg ul li a {
	position: relative;
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	width: 100%;
	padding: 8px;
}
/*Dot Settings Menu*/


/*Horizontal Navigation*/
.hnav_rg{
	position: relative;
	display: block;
	overflow: visible;
	box-sizing: border-box;
	background-color: var(--hnav_bgcolor);
}

.hnav_ul_rg, .hnav_li_rg {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	overflow: visible;
}

.hnav_ul_rg {
	list-style: none;
	width: 100%;
}

.hnav_li_rg {
	display: inline-block;
	position: relative;
	width: auto;	
}

.hnav_link_rg {
	box-sizing: border-box;
	background: transparent;
	color: #FFFFFF;
	display: block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 10px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.hnav_link_rg:hover {
	background: var(--hnav_link_active_bgcolor);
	color: var(--hnav_link_active_color);
}

.hnav_submenu_rg {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0px;
	visibility: hidden;
	z-index: 1;
}

.hnav_li_rg:hover .hnav_submenu_rg {
	opacity: 1;
	bottom: 0;
	visibility: visible;
	transform: translateY(100%);
}

.hnav_submenu_rg .hnav_li_rg {
	display: block;
	width: 100%;
	background-color: var(--hnav_submenu_bgcolor);
}
/*Horizontal Navigation*/


/*Bottom Popup Modal*/
.bmodal_rg {
	display: none; /* Hidden by default */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%; /* Modal height */
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 1;
	transition: transform 0.3s ease-in-out;
	transform: translateY(100%); /* Start hidden at the bottom */
}

.bmodal_cont_rg {
	background-color: var(--bmodal_cont_bgcolor);
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	position: relative;
}

.bmodal_closebtn_rg {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

/* Animation for opening modal */
.bmodal_rg.bmodal_popup_rg {
	transform: translateY(0); /* Slide in from the bottom */
}
/*Bottom Popup Modal*/


/*Toggle Button*/
.switch_rg {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	display: block;
	width: var(--switch_rg_width);
}

.switch_rg .switch_input_rg {
	display: none;
}

.switch_rg .switch_pin_rg {
	display: block;
	position: relative;
  	box-sizing: border-box;
	width: auto;
	height: auto;
	padding: 3px;
	border-radius: 15px;
	border-width: var(--switch_rg_borderwidth);
	border-style: solid;
	border-color: var(--switch_rg_bordercolor);
	cursor: pointer;
	transition: 0.3s;
}

/**Pin*/
.switch_rg .switch_pin_rg::after {
	content: "";
	display: inherit;
	width: var(--switch_pin_rg_size);
	height: var(--switch_pin_rg_size);
	border-radius: 50%;
	background-color: var(--switch_pin_rg_color);
	transition: 0.3s;
}
/**Pin*/


/**When Toggle Button is on*/
.switch_rg .switch_input_rg:checked ~ .switch_pin_rg {
	border-color: var(--switch_check_rg_bordercolor)
}

/***Pin*/
.switch_rg .switch_input_rg:checked ~ .switch_pin_rg::after {
	translate: calc(var(--switch_rg_width) - var(--switch_pin_rg_size) - 12px - 3.75px) 0;
	background-color: var(--switch_pincheck_rg_color);
}
/***Pin*/
/**When Toggle Button is on*/


.switch_rg .switch_input_rg:disabled ~ .switch_pin_rg {
	opacity: 0.5;
	cursor: not-allowed;
}
/*Toggle Button*/


/*Basic Button*/
.btn_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	white-space: normal;
	word-break: keep-all;	
	border-style: solid;
	color: var(--btn_rg_color);
	border-width: var(--btn_rg_borderwidth);
	border-color: var(--btn_rg_bordercolor);	
	outline: none;		
	background-color: var(--btn_rg_bgcolor);
	cursor: pointer;
}

.btn_rg:hover{
	@include btn_rg_active_general;
}

.btn_rg:active{
	@include btn_rg_active_general;
}
/*Basic Button*/


/*Modal (First Model)*/
.modal_con_rg{
	position: fixed;
	display: none;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid grey;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0px;
	height: 0px;
	background-color: rgba(237, 231, 225 ,0.5);		
	flex-flow: column nowrap;
	align-items: center;
	transition: width 0.5s ease-out 0s, height 0.5s ease-out 1s;
}

.modal_rg{
	position: absolute;
	display: none;
	box-sizing: border-box;
	overflow: hidden;
	width: var(--modal_rg_width);
	height: var(--modal_rg_height);
	top: var(--modal_rg_top);
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--modal_rg_bordercolor);
	background-color: var(--modal_rg_bgcolor);
	transition: top 0.5s ease-out 0s;
	flex-shrink: 0;
	transform: scale(0);
	transition: transform 0.3s ease-out 1.5s;
}

.modal_head_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	width: auto;
	top: 0px;		
	flex-wrap: nowrap;
	flex-direction: row;
	background-color: var(--modal_head_rg_bgcolor);
}

.modal_headtext_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	width: 100%;
	flex-shrink: 1;
	flex-grow: 0;
	font-style: normal;
	font-weight: bold;			
	text-align: center;	
	align-self: center;
}

.modal_headx_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: nowrap;
	width: var(--modal_headx_rg_size);
	height: var(--modal_headx_rg_size);
	align-self: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	cursor: pointer;
}

.modal_headx_rg img{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.modal_body_rg{
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	width: auto;	
}

/* width */
.modal_body_rg::-webkit-scrollbar {
	width: clamp(3px, 1vw, 6px);
}

/* Track */
.modal_body_rg::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
}

/* Handle */
.modal_body_rg::-webkit-scrollbar-thumb {
	background: var(--modal_body_rg_scrollcolor);
	border-radius: 10px;
}

/* Handle on hover */
.modal_body_rg::-webkit-scrollbar-thumb:hover {
	background: var(--modal_body_rg_active_scrollcolor);
}
/*Modal (First Model)*/


/*Inputs*/
.input_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	width: auto;
	padding: 15px 5px 5px 5px;
	border-radius: 7px;	
	border-color: var(--input_rg_bordercolor);
	border-width: 1px;
	border-style: solid;
	z-index: 0;
}

.input_rg input{
	position: relative;
	display: block;
	box-sizing:border-box;
	width: 100%;
	border: none;
	outline: none;	
	font-size: var(--input_rg_fsize);	
	color: var(--input_rg_color);
	background-color: transparent;
}

.input_placeholder_rg{
	@include input_placeholder_rg_general;	
	width: 95%;
	top:50%; 
	transform: translateY(-50%); 	
	font-size: var(--input_rg_fsize); 
	color: var(--input_rg_color);	
}

.input_upplaceholder_rg{
	@include input_placeholder_rg_general;
	width: 95%;
	top:33%; 
	transform: translateY(-50%);	
	font-size: var(--input_rg_fsize); 
	color: var(--input_rg_color); 	
}

.input_rg input:focus + .input_placeholder_rg,
.input_rg input:not(:focus):valid + .input_placeholder_rg,
.input_rg input:focus + .input_upplaceholder_rg,
.input_rg input:not(:focus):valid + .input_upplaceholder_rg{
	top: 0px;
	transform: none;
	font-size: var(--input_rg_active_fsize);
}
/*Inputs*/


/*Radio Button*/
.radio_rg{
	position: relative;
	display: flex;
	overflow: visible;
	box-sizing: border-box;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: auto;
}

.radio_input_rg{
	position: absolute;
	visibility: hidden;
	top: 0px;
}

.radio_label_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	width: 100%;		
}

.radio_icon_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	width: var(--radio_icon_rg_size); 
	height: var(--radio_icon_rg_size);
}

.radio_iconimg_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

/**Circle Type*/
.radio_tc_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
	border-style: solid;		
	border-width: var(--radio_rg_borderwidth);
	border-color: var(--radio_rg_bordercolor);
	width: var(--radio_rg_size); 
	height: var(--radio_rg_size);
	padding: 3px;
	border-radius: 50%;
	box-shadow: none; /*box-shadow: 0px 0px 15px #00fafa; in JS*/
	background-color: var(--radio_rg_bgcolor);
	cursor: pointer;
}

.radio_tci_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-radius: 50%;
}
/**Circle Type*/


/**Box Type*/
.radio_tb_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
	border-style: solid;		
	border-width: var(--radio_rg_borderwidth);
	border-color: var(--radio_rg_bordercolor);
	width: var(--radio_rg_size); 
	height: var(--radio_rg_size);	
	background-color: var(--radio_rg_bgcolor);
	cursor: pointer;
}

.radio_tbi_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
/**Box Type*/
/*Radio Button*/


/*Page Layout (First Model)*/
*{
	box-sizing: border-box;	
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

.mone_rg{
	position: fixed;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	flex-flow: row nowrap;
	width: 100%;
	height: 100%;
}

.mone_side_rg{
	position: relative;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	direction: rtl;
	width: 0px;
	height: 100%;	
	flex-shrink: 0;
	background: var(--mone_side_rg_bgcolor);
}

/* width */
.mone_side_rg::-webkit-scrollbar, .mone_body_rg::-webkit-scrollbar, body::-webkit-scrollbar{
	width: var(--mone_rg_scrollwidth);
}

/* Track */
.mone_side_rg::-webkit-scrollbar-track, .mone_body_rg::-webkit-scrollbar-track, body::-webkit-scrollbar-track{
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
}

/* Handle */
.mone_side_rg::-webkit-scrollbar-thumb, .mone_body_rg::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	background: var(--mone_rg_scrollcolor);
	border-radius: 10px;
}

/* Handle on hover */
.mone_side_rg::-webkit-scrollbar-thumb:hover, .mone_body_rg::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
	background: var(--mone_rg_active_scrollcolor); 
}

.mone_sidecon_rg{
	position: relative;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;
	width: auto;
	height: auto;
	background: none;
}

.mone_body_rg{
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	width: 100%;
	height: auto;	
	background-color: var(--mone_body_rg_bgcolor);
}

.mone_head_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: var(--mone_head_rg_bgcolor);	
}

.mone_burger_rg{
	position: relative;	
	box-sizing: border-box;
	overflow: visible;	
	width: var(--mone_burger_rg_size);
	height: var(--mone_burger_rg_size);
	cursor: pointer;
}

.mone_burger_image_rg{
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
}

.mone_title_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	display: flex;	
	justify-content: space-between;		
}

.mone_titletxt_rg{
	position: relative;
	display: block;
	overflow: visible;
	box-sizing: border-box;	
	white-space: normal;	
}

.mone_user_rg{
	position: relative;
	display: flex;
	overflow: visible;
	box-sizing: border-box;	
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.mone_profile_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	width: var(--mone_profile_rg_size);
	height: var(--mone_profile_rg_size);
	flex-shrink: 0;
}

.mone_profile_img_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.mone_name_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	white-space: normal;
	width: auto;				
}
/*Page Layout (First Model)*/


/*Side Navigation Menu*/
.nav_rg{
	@include nav_rg_general;	
	color: var(--nav_rg_color);	
}

.nav_active_rg{
	@include nav_rg_general;
	@include nav_active_rg_general;
}

.nav_icon_rg{
	@include nav_icon_rg_general;		
	background-image: var(--nav_icon_rg_img);	
}

.nav_active_icon_rg{
	@include nav_icon_rg_general;		
	@include nav_active_icon_rg_general;
}

.nav_rg:hover{	
	@include nav_active_rg_general;
}

.nav_rg:hover .nav_icon_rg{
	@include nav_active_icon_rg_general;
}

.nav_label_rg{
	position: relative;
	display: block;
	overflow: visible;
	box-sizing: border-box;
	white-space: normal;	
	width: 100%;
}

/**Collapsable*/
.nav_arrow_rg{
	@include nav_arrow_rg_general;
	transform: rotate(0deg);
}

.nav_active_arrow_rg{
	@include nav_arrow_rg_general;
	transform: rotate(90deg);
}

.nav_arrow_img_rg{
	@include nav_arrow_img_rg_general;
}

.nav_sub_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	background-color: var(--nav_sub_rg_bgcolor);
	transition: max-height 0.5s;		
	-webkit-transition: max-height 0.5s;
}
/*Side Navigation Menu*/

/*Select Dropdown*/
/**Selected Area*/
.select_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;		
	cursor: pointer;
}

.select_crval_rg{
	/*This is just the input hidden*/
}

.select_cr_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	align-items: center;	
	background-color: var(--select_cr_rg_bgcolor);
}

.select_icon_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_icon_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
}

.select_text_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	color: var(--select_text_rg_color);
}

.select_reset_rg{
	position: relative;
	display: none;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_reset_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
}

.select_arrow_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_arrow_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
	transform: rotateX(0deg);
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
/**Selected Area*/


/**Options Area*/
.select_area_rg{
	position: absolute;
	display: none;
	box-sizing: border-box;
	overflow: auto;
	max-height: 0;
	width: 100%;
	background-color: var(--select_area_rg_bgcolor);
	-webkit-transition: max-height 1s;
	transition: max-height 1s;
}

/* width */
.select_area_rg::-webkit-scrollbar {
	width: clamp(3px, 1vw, 6px);
}

/* Track */
.select_area_rg::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
}

/* Handle */
.select_area_rg::-webkit-scrollbar-thumb {
	background: var(--select_area_rg_scrollcolor);
	border-radius: 10px;
}

/* Handle on hover */
.select_area_rg::-webkit-scrollbar-thumb:hover {
	background: var(--select_area_rg_active_scrollcolor);
}

.select_find_rg{
	position: sticky;
	display: block;
	box-sizing: border-box;
	width: 100%;	
	top: 0;
	z-index: 1;	
	color: var(--select_find_rg_color);	
}

.select_opts_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
}

.select_opt_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.select_dopt_rg{
	display: none;	
}

.select_optval_rg{
	/*This is just the input hidden*/
}

.select_opticon_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-image: var(--select_opticon_rg_img);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	width: var(--select_rg_size);
	height: var(--select_rg_size);
	flex-shrink: 0;
}

.select_opttxt_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;	
}

.select_opt_rg:hover, .select_opt_rg:hover .select_opttxt_rg{
	background-color: var(--select_active_opt_rg_bgcolor);
	color: var(--select_active_opt_rg_color);
}
/**Options Area*/
/*Select Dropdown*/


/*Calendar Model One*/
.cmo_rg{
	position: relative;		
	box-sizing: border-box;
	overflow: auto;
	white-space: nowrap;	
	background-color: var(--cmo_rg_bgcolor);
}

.cmo_head_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;	
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px var(--cmo_head_rg_sdcolor);
}

.cmo_ym_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;	
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.cmo_monthtxt_rg, .cmo_yeartxt_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	white-space: nowrap;	
}

.cmo_btn_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	width: var(--cmo_btn_rg_size);
	height: var(--cmo_btn_rg_size);
	cursor: pointer;
	flex-shrink: 0;
}

.cmo_btnimg_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.cmo_columns_rg, .cmo_days_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.cmo_daytxt_rg, .cmo_daywrap_rg{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	width: var(--cmo_day_rg_width);
}

.cmo_daytxt_rg{
	text-align: center;
}

.cmo_day_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	text-align: center;	
	width: auto;
}


/**Highlights, Clicked*/
.cmo_day_rg_click{
	background-color: var(--cmo_day_rg_click_bgcolor);
	color: var(--cmo_day_rg_click_color);
}

.cmo_day_rg_high{
	background-color: var(--cmo_day_rg_high_bgcolor);
	color: var(--cmo_day_rg_high_color);
}
/**Highlights, Active, Clicked*/
/*Calendar Model One*/


/*Date Range*/
.range_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;	
	width: auto;
}

.range_head_rg{
	position: relative;	
	overflow: visible;
	box-sizing: border-box;	
	width: auto;
	cursor: pointer;
}

.range_details_rg{
	position: relative;
	overflow: visible;
	display: flex;
	box-sizing: border-box;	
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.range_icon_rg{
	position: relative;
	overflow: visible;	
	box-sizing: border-box;
	width: var(--range_icon_rg_size);
	height: var(--range_icon_rg_size);	
	background-color: transparent;
	background-image: var(--range_icon_rg_img);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	flex-shrink: 0;
}

.range_texts_rg{
	position: relative;
	overflow: visible;
	box-sizing: border-box;	
	white-space: nowrap;	
	color: var(--range_texts_rg_color);
}

.range_arrowpad_rg{
	position: relative;
	box-sizing: border-box;
	display: none;
	overflow: visible;
	justify-content: var(--range_arrow_rg_justify);
	z-index: 1;
}

.range_arrow_rg{
	position: relative;
	box-sizing: border-box;
	display: none;
	border-width: 7px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: var(--range_arrow_rg_color);
	border-left-color: transparent;
	width: 10px;
}

.range_cmo_rg{
	position: absolute;
	display: flex;
	overflow: hidden;
	max-height: 0px;	
	box-sizing: border-box;
	width: 100%;
	justify-content: space-between;
	transition: max-height 0.5s;
	-webkit-transition: max-height 0.5s;
}

.cmo_range_rg{
	width: 100%;
}
/*Date Range*/


/*Checkbox*/
.cb_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
}

.cb_label_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	cursor: pointer;
}

.cb_input_rg{
	position: absolute;
	visibility: hidden;
}

.cb_box_rg{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	overflow: visible;
	width: var(--cb_box_rg_size);
	height: var(--cb_box_rg_size);	
	border-width: var(--cb_box_rg_borderwidth);
	border-style: solid;
	border-color: var(--cb_box_rg_bordercolor);
	vertical-align: middle;
}

.cb_icon_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
/*Checkbox*/


/*Notification Model One*/
@keyframes ntfone_rg_keyframes {
	from{
		display: none;
		max-height: 0px;
	}

	to{
		display: flex;
		max-height: 1000px;
	}
}

.ntfone_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	flex-flow: row nowrap;
	background-color: var(--ntfone_rg_bgcolor);
	max-height: 0px;	
	animation-name: ntfone_rg_keyframes;
	animation-duration: var(--ntfone_rg_duration);		
}

.ntfone_rg_stay{
	animation-fill-mode: forwards;
}

.ntfone_mess_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	flex-shrink: 1;
	width: 100%;	
}

.ntfone_close_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	flex-shrink: 0;
	width: var(--ntfone_close_rg_size);
	height: var(--ntfone_close_rg_size);
	cursor: pointer;
	align-self: flex-start;
}

.ntfone_icon_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
/*Notification Model One*/


/*Stepper*/
.step_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	justify-content: center;
}

.step_item_rg{
	position: relative;	
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
}

.step_tube_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	border-width: 0px;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.step_line_rg{
	position: absolute;
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
	border-width: var(--step_line_rg_thickness);
	border-color: var(--step_line_rg_color);
	border-style: solid;
}

.step_num_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: var(--step_num_rg_bgcolor);		
	text-align: center;
	border-radius: 50%;
	width: var(--step_num_rg_width);
	color: var(--step_num_rg_color);
}

.step_text_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	text-align: center;
	color: var(--step_text_rg_color);
}

.step_activeline_rg{
	border-color: var(--step_activeline_rg_color);
}

.step_activenum_rg{
	color: var(--step_activenum_rg_color);
	background-color: var(--step_activenum_rg_bgcolor);
}

.step_activetext_rg{
	color: var(--step_activetext_rg_color);	
}

.step_content_rg{
	position: relative;
	box-sizing: border-box;
	border: 0px solid transparent;
}

.step_set_rg{
	position: relative;
	box-sizing: border-box;
	display: none;
}
/*Stepper*/


/*Blur*/
.blur_rg{
	position: fixed;
	box-sizing: border-box;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: gray;
	opacity: 0.5;
}
/*Blur*/


/*Center Loading*/
.cd_rg{
	position: fixed;	
	box-sizing: border-box;
	overflow: visible;	
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
	width: var(--cd_rg_size);
	height: var(--cd_rg_size);
}

.cd_img_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
/*Center Loading*/


/*Icon Button*/
.icb_rg{
	position: relative;	
	overflow: hidden;
	width: var(--icb_rg_size);
	height: var(--icb_rg_size);
	background-color: var(--icb_rg_bgcolor);
	background-image: var(--icb_rg_image);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-origin: padding-box;	
	outline: none;
	cursor: pointer;	
}

.icb_rg:hover{
	background-color: var(--icb_rg_active_bgcolor);	
}

.icb_active_rg{
	background-image: var(--icb_rg_active_image);
}
/*Icon Button*/


/*Button List*/
.blist_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;		
}

.blist_main_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;		
	flex-flow: row nowrap;
}

.blist_mbtn_rg{
	@include blist_btn_rg_general;	
}

.blist_chevron_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-color: var(--blist_rg_bgcolor);
	width: var(--blist_chevron_rg_size);		
	height: var(--blist_chevron_rg_size);
	flex-shrink: 0;
	cursor: pointer;
}

.blist_icon_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	transition: all 0.5s linear;
}

.blist_opt_rg{
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.blist_btn_rg{
	@include blist_btn_rg_general;
}

.blist_btn_rg:hover{
	color: var(--blist_rg_active_color);
	background-color: var(--blist_rg_active_bgcolor);
}
/*Button List*/


/*Section Spinner*/
.boximg_rg{
	position: relative;
	display: flex; 
	box-sizing: border-box;
	overflow: hidden;
	width: auto;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.boximg_icon_rg{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	width: var(--boximg_icon_rg_size);
	height: var(--boximg_icon_rg_size);
}

.boximg_img_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
/*Section Spinner*/


/*Search Input*/
.search_rg{
	position: relative;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	flex-flow: row nowrap;
	justify-content: flex-start;
	background-color: var(--search_rg_bgcolor);
	border-style: solid;
	border-width: var(--search_rg_borderwidth);
	border-color: var(--search_rg_bordercolor);
}

.search_icon_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: var(--search_rg_size);
	height: var(--search_rg_size);
	flex-shrink: 0;
	background-color: transparent;
}

.search_input_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: var(--search_rg_size);
}
/*Search Input*/


/*Table*/
.tbl_rg{
	width: 100%;
	border-collapse: collapse;
}

.tbl_rg thead{
	position: sticky;
	top: 0;
	z-index: 1;
}

.tbl_head_rg{
	background-color: var(--tbl_head_rg_bgcolor); 
}

.tbl_body_rg .tbl_row_rg:hover{
	background-color: var(--tbl_rg_active_bgcolor);
	color: var(--tbl_rg_active_color);
}

.tbl_row_rg:nth-child(odd){
	background-color: var(--tbl_odd_rg_bgcolor);
	color: var(--tbl_odd_rg_color);
}

.tbl_row_rg:nth-child(even){
	background-color: var(--tbl_even_rg_bgcolor);
	color: var(--tbl_even_rg_color);
}

.tbl_sub_rg{
	visibility: collapse;	
}

.tbl_activesub_rg{
	border-style: solid;
	border-width: var(--tbl_sub_rg_borderwidth);
	border-color: var(--tbl_sub_rg_bordercolor);
}

.tbl_subcont_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	max-height: 0px;
	transition: max-height 0.5s linear;
}

.tbl_active_subcont_rg{
	max-height: 1000px;
}

.tbl_ref_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	font-weight: bold;
	text-align: left;
}

.tbl_def_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	text-align: left;
}
/*Table*/


/*Card Model One*/
.cardm1_rg{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 7px;
	width: auto;
	background-color: var(--cardm1_rg_bgcolor);
}

.cardm1_head_rg{
	position: relative;
	display: block;
	box-sizing: border-box;
	white-space: normal;
	overflow: hidden;
	padding: 7px 7px 0px 7px;
}

.cardm1_det_rg{
	position: relative;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 7px 7px 7px;
}

.cardm1_txt_rg{
	position: relative;
	box-sizing: border-box;
	white-space: normal;
	overflow: visible;
	width: 100%;
}

.cardm1_icon_rg{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	background: transparent var(--cardm1_icon_rg_img) center center no-repeat;
	background-size: contain;	
	flex-shrink: 0;
	width: var(--cardm1_icon_rg_size);
	height: var(--cardm1_icon_rg_size);
}

.cardm1_more_rg{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	align-items: center;
	padding: 7px;
	border-top-style: solid;
	border-top-width: var(--cardm1_more_rg_linetopwidth);
	border-top-color: var(--cardm1_more_rg_linetopcolor);
}

.cardm1_moreicon_rg{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	background: transparent var(--cardm1_moreicon_rg_img) center center no-repeat;
	background-size: contain;
	flex-shrink: 0;
	width: var(--cardm1_moreicon_rg_size);
	height: var(--cardm1_moreicon_rg_size);
}

.cardm1_moretxt_rg{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	white-space: normal;
	margin-left: 5px;
	width: 100%;
}
/*Card Model One*/

/*General*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Page Layout (First Model)*/
	.mone_burger_rg{		
		@include mone_burger_rg_smart;
	}

	.mone_title_rg{
		@include mone_title_rg_smart;
	}
	/*Page Layout (First Model)*/


	/*Date Range*/
	.range_cmo_rg{
		@include range_cmo_rg_smart;
	}
	/*Date Range*/


	/*Table*/
	.tbl_rg thead{
		@include tbl_head_rg_smart;
	}

	.tbl_rg tbody tr td{
		@include tbl_td_rg_smart;
	}

	.tbl_rg tbody tr td::before{
		@include tbl_dlabel_rg_smart;
	}
	/*Table*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){		
	/*Page Layout (First Model)*/
	.mone_burger_rg{
		@include mone_burger_rg_smart;
	}

	.mone_title_rg{
		@include mone_title_rg_smart;
	}
	/*Page Layout (First Model)*/


	/*Date Range*/
	.range_cmo_rg{
		@include range_cmo_rg_smart;
	}
	/*Date Range*/


	/*Table*/
	.tbl_rg thead{
		@include tbl_head_rg_smart;
	}

	.tbl_rg tbody tr td{
		@include tbl_td_rg_smart;
	}

	.tbl_rg tbody tr td::before{
		@include tbl_dlabel_rg_smart;
	}
	/*Table*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:1081px){
	/*Page Layout (First Model)*/
	.mone_burger_rg{
		display: none;
	}

	.mone_title_rg{
		flex-flow: row wrap;
		align-items: center;
		align-content: flex-start;
	}	
	/*Page Layout (First Model)*/


	/*Date Range*/
	.range_cmo_rg{
		flex-flow: row nowrap;
	}
	/*Date Range*/


	/*Table*/
	.tbl_rg thead{
		display: normal;
	}

	.tbl_rg tbody tr td{
		display: normal;
		text-align: normal;
	}

	.tbl_rg tbody tr td::before{
		float: none;
		content: none;
		font-weight: none;
	}
	/*Table*/
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/